[Unit]
Description=IN10d file system and ow service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/in10dfs -d /opt/in10d.json -o allow_other -f /mnt/1wire
ExecStop=/usr/bin/fusermount -u /mnt/1wire
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target